.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
