.navbar {
  display: flex;
  gap: 20px;
  background-color: #333333;
  padding: 10px;
}

.navbar a {
  color: rgb(253, 11, 11);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  color: rgb(253, 11, 11);
  font-weight: bold;
}
