.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.form input,
.form textarea {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 30px;
}

.form button {
  padding: 8px;
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #555555;
  }
}
